<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <button onclick="window.location.href = '/login/'"
                style="width:30px; height:30px; border-radius:50%; border:none; background-color:transparent; padding:0; margin: 10px;">
            <!--acc-->
            <img src="/images/account.png" style="width:120%; height:120%; border-radius:50%;">

        </button>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <button onclick="window.location.href = '/login/'"
                        style="width:30px; height:30px; border-radius:50%; border:none; background-color:transparent; padding:0; margin: 10px;">
                    <!--acc-->
                    <img src="/images/account.png" style="width:120%; height:120%; border-radius:50%;">
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <button type="button" class="btn btn-secondary" style="margin-left: 5px">
                            <a href="/afisha/" style="color: inherit; text-decoration: none;">Афіша</a>
                        </button>

                        <button type="button" class="btn btn-secondary" style="margin-left: 5px">
                            <a href="/schedule/" style="color: inherit; text-decoration: none;">Розклад</a>
                        </button>

                        <button type="button" class="btn btn-secondary" style="margin-left: 5px">
                            <a href="/soon/" style="color: inherit; text-decoration: none;">Скоро</a>
                        </button>

                        <button type="button" class="btn btn-secondary" style="margin-left: 5px">
                            <a href="/cinemas/" style="color: inherit; text-decoration: none;">Кінотеатри</a>
                        </button>

                        <button type="button" class="btn btn-secondary" style="margin-left: 5px">
                            <a href="/news/" style="color: inherit; text-decoration: none;">Акції</a>
                        </button>

                        <div class="dropdown" style="margin-left: 10px;">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Про кінотеатр
                            </button>
                            <ul class="dropdown-menu">
                                <li th:each="pages, iterStat : ${pages} " th:if="${iterStat.index} > 0">
                                    <a class="dropdown-item" th:href="@{/pages/{id}/(id=${pages.id})}">
                                        <h6 th:text="${pages.getName()}"/>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div style="margin-left: 100px">
                            <h5><span style="color: white;" th:text="${main.name}"></span></h5>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</nav>

                                            <!--mainUp-->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000"
         style="margin: 0 auto; width: 90%;">
        <div class="carousel-inner" style="margin-top: 50px">
            <div th:each="image, iterStat : ${mainUp}" class="carousel-item"
                 th:classappend="${iterStat.first} ? 'active'">
                <a th:href="'/afisha/'+${image.getId()}">
                <center><img th:src="${'data:image/jpeg;base64,' + image.getImage1()}" style="width: 90%; height: 500px; margin-top: 25px;"/></center>
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <<span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h2 style="margin-top: 25px">
        <center>Дивіться сьогодні</center>
    </h2>

                                <!--main-->
    <div class="container marketing" style="margin-top: 25px">
        <div class="row">
            <div th:each="image : ${movieToday}" class="col-lg-4">
                <div class="bd-placeholder-img rounded-circle">
                    <img th:src="${'data:image/jpeg;base64,' + image.getMainImage()}"
                         style="width: 140px; height: 140px; border-radius: 50%; preserveAspectRatio: xMidYMid slice; focusable: false "/>
                    <h2 th:text="${image.getName()}"/>

                    <p><a class="btn btn-secondary" th:href="'/afisha/'+${image.getId()}">View details &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>

    <h2 style="margin-top: 25px">
        <center>Дивіться скоро</center>
    </h2>


                            <!--soon-->
    <div class="container marketing" style="margin-top: 25px">
        <div class="row">
            <div th:each="image : ${soon}" class="col-lg-4">
                <div class="bd-placeholder-img rounded-circle">
                    <img th:src="${'data:image/jpeg;base64,' + image.getMainImage()}"
                         style="width: 140px; height: 140px; border-radius: 50%; preserveAspectRatio: xMidYMid slice; focusable: false "/>
                    <h2 th:text="${image.getName()}"/>

                    <p><a class="btn btn-secondary" th:href="'/afisha/'+${image.getId()}">View details &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>

    <!--mainSale-->
    <div class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
            <div th:each="news, iterStat : ${mainSale}" class="carousel-item"
                th:classappend="${iterStat.first} ? 'active'">
                <center>
                    <a class="btn" th:href="@{/news/{id}(id=${news.id})}">
                        <img th:src="${'data:image/jpeg;base64,' + news.getImage()}" width="500px" , height=350px>
                    </a>
                </center>
            </div>
        </div>
    </div>

    <center>
        <h1><p>Про кінотеатр</p></h1>
    </center>

    <h6 th:text="${main.getDescription()}"/>

    <footer th:insert="blocks/footer :: footer"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></body>
</html>