<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header :: header"></header>
<center><img th:src="${'data:image/jpeg;base64,' + hall.getImage1()}" style="width: 90%; height: 500px; margin-top: 35px;" /></center>
<table style="width:100%">
    <tr>
        <!--cinema-->
        <td style="width:80%">
            <center><h2 th:text="${hall.getName()}" style="margin-top: 25px;"/></center>
            <h5 th:text="${hall.getDescription()}" style="margin-left: 20px; margin-right: 25px;"></h5>

            <h2 style="margin-top: 20px"><center>Фотогалерея</center></h2>
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <center><img th:src="@{'data:image/png;base64,' + ${hall.getImage1()}}" style="width: 85%; height: 300px"/></center>
                    </div>
                    <div class="carousel-item active">
                        <center><img th:src="@{'data:image/png;base64,' + ${hall.getImage2()}}" style="width: 85%; height: 300px"/></center>
                    </div>
                    <div class="carousel-item active">
                        <center><img th:src="@{'data:image/png;base64,' + ${hall.getImage3()}}" style="width: 85%; height: 300px"/></center>
                    </div>
                    <div class="carousel-item active">
                        <center><img th:src="@{'data:image/png;base64,' + ${hall.getImage4()}}" style="width: 85%; height: 300px"/></center>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </td>
        <td style="width:20%">
            <!--news-->
            <div th:each="ads : ${ads}">
                <img th:src="${'data:image/jpeg;base64,' + ads.getImage()}" style="width: 80%; height: auto; margin-top: 25px;" />
            </div>
        </td>
    </tr>
</table>

<footer th:insert="blocks/footer :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>