<div th:fragment="footer">
    <table style="width: 100%;">
        <tr>
            <td style="width: 40%;"><h2>Мобільні додатки</h2>
                                        <!--google_play-->
                <img src="/images/google_play.png" style="width:43%; height:70px; margin-left: 25px;"><br>
                                        <!--app_store-->
                <img src="/images/app_store.png" style="width:43%; height:70px;margin-left: 25px;margin-top: 15px;">


            <td style="width: 30%;"><p>
                <h2>Афіша</h2></p>
                <p>Розклад</p>
                <p>Скоро в прокаті</p>
                <p>Кінотеатр</p>
                <p>Акції</p></td>
            <td style="width: 30%;"><p>
                <h2>Про кінотеатр</h2></p>
                <p>Новини</p>
                <p>Реклама</p>
                <p>Кафе-Бар</p>
                <p>Контакти</p></td>
        </tr>
    </table>


    <footer class="container">
        <p>
        <center>kinoCMS 2016, All rights reserved</center>
        </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</div>