<div th:fragment="headerAdmin">
<div class="d-grid gap-2">
    <button onclick="window.location.href = '/admin/'" type="button" class="btn btn-secondary btn-sm"
            style="margin-top: 5px;">Статистика
    </button>
    <button onclick="window.location.href = '/admin/banners/'" type="button" class="btn btn-secondary btn-sm">Банера</button>
    <button onclick="window.location.href = '/admin/afisha/'" type="button" class="btn btn-secondary btn-sm">
        Фільми
    </button>
    <button onclick="window.location.href = '/admin/cinemas/'" type="button" class="btn btn-secondary btn-sm">
        Кінотеатри
    </button>
    <button onclick="window.location.href = '/admin/news/'" type="button" class="btn btn-secondary btn-sm">
        Новини і акції
    </button>
    <button onclick="window.location.href = '/admin/pages/'" type="button" class="btn btn-secondary btn-sm">
        Сторніки
    </button>
    <button onclick="window.location.href = '/admin/users/1/'" type="button" class="btn btn-secondary btn-sm">
        Користувачі
    </button>
    <button onclick="window.location.href = '/admin/message/'" type="button" class="btn btn-secondary btn-sm">
        Розсилка
    </button>
</div>
</div>