<div th:fragment="seo-block">
URL: <input class="form-control" type="text" name="url" placeholder="url"
                         style="display: inline-block; margin-top: 15px; width: 40%;"><br/>
Title: <input class="form-control" type="text" name="title" placeholder="title"
                         style="display: inline-block; margin-top: 15px; width: 40%;"><br/>
keywords: <input class="form-control" type="text" name="keywords" placeholder="keywords"
                         style="display: inline-block; margin-top: 15px; width: 40%;"><br/>
<p style="margin-top: 15px;">Description: <textarea class="form-control" name="depiction" rows="10" cols="50" style="width: 60%; height: 100px"></textarea>
    <br>
</p>
</div>